<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.20.0" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.23.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net40" />
  <package id="Npgsql" version="2.1.2" targetFramework="net40" />
  <package id="Stored" version="1.0.1.32" targetFramework="net40" />
  <package id="Stored.Postgres" version="1.0.1.32" targetFramework="net40" />
</packages>